<div class="card">
    <div class="card-body">
    <ul class="list-group">
        <li class="list-group-item">
        <strong>Cédula:</strong> {{ infoModal.number_cc }}
        </li>
        <li class="list-group-item">
        <strong>Nombre:</strong> {{ infoModal.first_name }}
        </li>
        <li class="list-group-item">
        <strong>Segundo Nombre:</strong> {{ infoModal.middle_name }}
        </li>
        <li class="list-group-item">
        <strong>Apellidos:</strong> {{ infoModal.last_name }}
        </li>
        <li class="list-group-item">
        <strong>Dirección:</strong> {{ infoModal.address }}
        </li>
        <li class="list-group-item">
        <strong>Teléfono:</strong> {{ infoModal.phone_number }}
        </li>
        <li class="list-group-item">
        <strong>Ciudad:</strong> {{ infoModal.city }}
        </li>
    </ul>
    </div>
</div>